<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js">
  </script>
  <title>Leilão</title>
</head>
<body>
  <h1>HOME</h1>
  <ul id='lista'>
    <li><%=numero%></li>
  </ul>
  <script>
    // const showNumber = (data)=>{
    //   const lista = document.querySelector('#lista');
    //   const li = document.createElement('li');
    //   li.innerText = data;
    //   lista.appendChild(li);
    // }
    // const socket = window.io('http://localhost:3000');
    // socket.on('home',(data)=>showNumber(data))

  </script>
</body>
</html>